#main-body {
    top: 60px;
    position: absolute;
    height: -webkit-fill-available;
    display: flex;
    width: -webkit-fill-available;
    flex-wrap: wrap;
    align-items: center;
}

.sidebar {
    width: 30%;
    height: -webkit-fill-available;
    background: #7000ff;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.userOptions div {
    margin: 15px;
    width: -webkit-fill-available;
    padding: 10px;
    border-radius: 7px;
    font-size: 1em;
    background-color: #7000ff;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
}

.userOptions div:hover {
    background-color: #ebe3f5;
    color: #290557;
    transition: all 0.6s;
}

.userIcon {
    display: block;
    margin: 0 auto;
    padding: 58px 0 0 0;
    max-width: 66px;
    max-height: 66px;
}

.userName {
    color: white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    padding: 19px 0;
}

#mode-change {
    width: 30px;
    height: 20px;
}

#upload-video {
    width: 50%;
    height: -webkit-fill-available;
    background-color: bisque;
    position: relative;
}

#download-video {
    width: 50%;
    height: -webkit-fill-available;
    background-color: #7000ff;
    position: relative;
}

#translate-section {
    border: #290557 1px solid;
    width: -webkit-fill-available;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
}

#action-section {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: absolute;
    left: 30%;
    display: flex;
    flex-wrap: wrap;
}