* {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    left: 10px;
    position: absolute;
    color: aliceblue;
    cursor: pointer;
}

#logo{
    height: 50px;
    width: 50px;
    background-color: #7000ff;
    border-radius: 50%;
}

#dashboard-navbar {
    height: 60px;
    width: 100%;
    position: absolute;
    background-color: #290557;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

input[type=search] {
    width: 30vw;
    height: 40px;
    border-radius: 7px;
    padding: 10px;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}